<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="atualizar()">Atualizar</ion-button>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Bolachas</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let bolachas in dadosPagina" href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>{{bolachas.nome}}</ion-label>
        <ion-label>{{bolachas.nota}}</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
